{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>Сервис Учета Студентов {% block meta_title %}{% endblock meta_title %}</title>
	<meta name="description" value="Система Учета Студентов Учебного Заведения">
	<!-- include styles -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">

	<link name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css">

	<link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/main.css' %}">

	<style type="text/css"> .col-xs-12, .col-xs-4, .col-xs-8 , .col-xs-5, .col-xs-2 </style>

	{% block extra_css %}{% endblock extra_css %}

</head>
<body>
	<!-- start -->

	<div class="container">
	 <!--logo-->
	 <div class="row" id="header">

	  <div class="col-xs-8">
	   <h1>{% block logo %}Сервис Учета Студентов{% endblock logo %}</h1>
		{% block status_message %}
	  	{% if request.GET.status_message %}
	  	<div class="alert alert-warning" role='alert'>{{request.GET.status_message}}</div>
	  	{% endif %}
	  	{% endblock %} 
	  </div>
	  <div class="col-xs-4" id="group-selector">
	  	<strong>Группа:</strong>
	  	<select>
	  		<option value="" >Все студенты</option>
	  		{% for group in GROUPS %}
	  		<option value="{{group.id}}"{% if group.selected %}selected='1'{% endif %}>{{group.name}}{% if group.leader %},{{group.leader}}{% endif %}</option>
	  		{% endfor %}
	  	</select>
	  </div>

	 <!-- start subheader-->
	 {% block subheader %}
	 <div class ="row" id="sub-header">
	  <div class="col-xs-12">
	  	<ul class="nav nav-tabs" role="tablist">
	  		<li role="presentation" {% if request.path == '/' %} class="active"{% endif %}> <a href="{% url 'home' %}">Студенты</a></li>
	  		<li role="presentation" {% if '/journal' in request.path %} class="active"{% endif %}> <a href="{% url 'visitation' %}">Посещения</a></li>
	  		<li role="presentation" {% if '/groups' in request.path %} class="active"{% endif %}> <a href="{% url 'groups' %}">Группы</a></li>
	  		<li role="presentation" {% if '/contact-admin' in request.path %} class="active"{% endif %}> <a href="{% url 'contact_admin' %}">Контакт</a></li>
	  	</ul>
	  </div>
	 </div>
	 <!-- end subheader-->
	 {% endblock subheader %}
	 <!-- start main page content -->
	 <div class="row" id="content-columns">
	   <div class="col-xs-12" id="content-column">
	   		{% comment "Not used alert so far" %}
	   		<div class="alert alert-warning">Status update!</div>
	   		{% endcomment %}
	   		<h2>{% block title %}{% endblock title %}</h2>
	   		{% block container %}{% endblock container %}
	 <!-- end main page content-->

	 <!-- start footer-->
	 <div class="row" id="footer">
	  <div class="col-xs-12">
	   {% block footer %}&copy; 2017 Сервис Учета Студентов{% endblock footer %}
	  </div>
	 </div>
	 <!-- end footer-->
	</div>

	<!-- Modal Boilerplate -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel"><!-- --></h4>
				</div>
				<div class="modal-body"><!-- --></div>
				<div class="modal-footer"><!-- --></div>
			</div>
		</div>
	</div>

	<!-- JS Section -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
	<script src="{% static 'js/jquery.cookie.js' %}" ></script>
	<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
	<script src="{% static 'js/main.js' %}" ></script>
	{% block extra_js %}{% endblock extra_js %}
</body>
</html>