{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Группы{% endblock meta_title %}

{% block title %}База Студентов{% endblock title %}

{% block container %}
<a class="btn btn-primary" href="#">Добавить группу</a>
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>№</th>
			<th><a href="#">Название&uarr;</th>
			<th><a href="">Староста</th>
			<th>Действия</th>
		</tr>
	</thead>
	<tbody>
		{% for group in groups %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td><a href="{% url 'groups_edit' group.id %}">{{ group.name }}</a></td>
			<td><a href="{% url 'groups_edit' group.id %}">{{ group.leader }}</a></td>
			<td>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Действия<span class="caret"/>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="{% url 'groups_edit' group.id %}">Редактировать</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="{% url 'groups_delete' group.id %}">Удалить</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<nav>
	<ul class="pagination">
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">Дальше</a></li>
	</ul>
</nav>
{% endblock container %}
</body>
</html>