{% extends "students/base.html" %}

{% load i18n %}

{% load pagenav %}

{% load static from staticfiles %}

{% block meta_title %}{% trans "Groups" %}{% endblock meta_title %}

{% block title %}{% trans "Groups list"%}{% endblock title %}

{% block container %}
{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'groups_add' %}">{% trans "Add Group" %}</a>
{% endif %}
<table class="table table-hover table-striped">
	<thead>
	{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
		<tr>
			<th><a href="{% url 'groups' %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">
			№
			{% if order_by == 'id' and reverse != '1' %}&uarr;
			{% elif order_by == 'id' and reverse == '1' %}&darr;
			{% endif %}
			</a></th>
			<th><a href="{% url 'groups' %}?order_by=name{% if order_by == 'name' and reverse != '1' %}&amp;reverse=1{% endif %}">
			{% trans "Title" %}
			{% if order_by == 'name' and reverse != '1' %}&uarr;
			{% elif order_by == 'name' %}&darr;
			{% endif %}
			</a></th>
			<th>
			{% trans "Leader" %}
			</a></th>
			{% if user.is_authenticated %}
			<th>{% trans "Actions" %}</th>
			{% endif %}
		</tr>
	{% endwith %}
	</thead>
	<tbody>
		{% for group in groups %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{% if user.is_authenticated %}<a href="{% url 'groups_edit' group.id %}">{% endif %}{{ group.name }}</a></td>
			<td>{% if user.is_authenticated %}<a href="{% url 'groups_edit' group.id %}">{% endif %}{{ group.leader }}</a></td>
			{% if user.is_authenticated %}
			<td>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{% trans "Action" %}<span class="caret"/>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="{% url 'groups_edit' group.id %}">{% trans "Edit" %}</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="{% url 'groups_delete' group.id %}">{% trans "Delete" %}</a>
						</li>
					</ul>
				</div>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% pagenav object_list=groups is_paginated=is_paginated paginator=paginator %}
{% endblock container %}
</body>
</html>