{% extends "students/base.html" %}

{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block meta_title %}Редактировать Студента{% endblock meta_title %}

{% block logo %}{% endblock logo %}

{% block status_message %}
		
    {% if form.errors %}
    	<div class='alert alert-warning' role='alert'>Исправьте ошибки</div>
    {% endif %}

{% endblock %}

{% block subheader %}{% endblock subheader %}

{% block title %}Редактировать Студента{% endblock title %}

{% block container %}
	{% crispy form %}
{% endblock container %}
</body>
</html>