{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Посещения{% endblock meta_title %}

{% block title %}Учет Посещений{% endblock title %}


{% block container %}
<div class="row" id="content-columns">
	<div class="col-xs-5"></div>
	<div class="col-xs-2" id="content-column">
		<div id="glyphicon">
			<a href="#"><span class=" glyphicon glyphicon-arrow-left"></span></a>
			<strong>Жовтень 2017</strong>
			<a href="#"><span class=" glyphicon glyphicon-arrow-right"></span></a>
		</div>
	</div>
</div>
<div class="row" id="table">
	<div class="col-xs-12">	
		<table class="table table-hover table-striped table-bordered">
			<tr>
				<th>№</th>
				<th>Студент</th>
				<th>Ср 1</th>
				<th>Чт 2</th>
				<th>Пт 3</th>
				<th>Сб 4</th>
				<th>Вс 5</th>
				<th>Пн 6</th>
				<th>Вт 7</th>
				<th>Ср 8</th>
				<th>Чт 9</th>
				<th>Пт 10</th>
				<th>Сб 11</th>
				<th>Вс 12</th>
				<th>Пн 13</th>
				<th>Вт 14</th>
				<th>Ср 15</th>
				<th>Чт 16</th>
				<th>Пт 17</th>
				<th>Сб 18</th>
				<th>Вс 19</th>
				<th>Пн 20</th>
				<th>Вт 21</th>
				<th>Ср 22</th>
				<th>Чт 23</th>
				<th>Пт 24</th>
				<th>Сб 25</th>
				<th>Вс 26</th>
				<th>Пн 27</th>
				<th>Вт 28</th>
				<th>Ср 29</th>
				<th>Чт 30</th>
				<th>Пт 31</th>
			</tr>
			{% for st in visitation %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td><a href="{% url 'visitation_edit' st.id %}">{{ st.name}}</a></td>
				<td><input type="checkbox" id="ckeckbox001" {% if st.visit.1 == 1 %} checked {% endif %} ></td>
				<td><input type="checkbox" id="ckeckbox002" {% if st.visit.2 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox003" {% if st.visit.3 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox004" {% if st.visit.4 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox005" {% if st.visit.5 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox006" {% if st.visit.6 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox007" {% if st.visit.7 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox008" {% if st.visit.8 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox009" {% if st.visit.9 == 1 %} checked {% endif %} ></td>
				<td><input type="checkbox" id="ckeckbox0010"{% if st.visit.10 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0011" {% if st.visit.11 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0012" {% if st.visit.12 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0013" {% if st.visit.13 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0014" {% if st.visit.14 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0015" {% if st.visit.15 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0016" {% if st.visit.16 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0017" {% if st.visit.17 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0018" {% if st.visit.18 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0019" {% if st.visit.19 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0020" {% if st.visit.20 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0021" {% if st.visit.21 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0022" {% if st.visit.22 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0023" {% if st.visit.23 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0024" {% if st.visit.24 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0025" {% if st.visit.25 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0026" {% if st.visit.26 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0027" {% if st.visit.27 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0028" {% if st.visit.28 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0029" {% if st.visit.29 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0030" {% if st.visit.30 == 1 %} checked {% endif %}></td>
				<td><input type="checkbox" id="ckeckbox0031" {% if st.visit.31 == 1 %} checked {% endif %}></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock container %}


</body>
</html>