/* global styles */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.alert {
	margin-top: 10px;
}

.text	 {
	margin: 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 30px;
	line-height: 30px;
	color: #555555;
}

#ajax-progress-indicator {
	display: none;
}

#footer {
	border-top:  1px solid #dddddd;
	padding-top:  10px;
}

#group-selector {
	margin-top: 30px;
}

#group-selector_rest {
	margin-top: 5px;
}

#group-selector_rest select{
	margin: 0;
	width: 91%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 30px;
	line-height: 30px;
	color: #555555;
}

#input-text-additional {
	margin: 0;
	width: 25%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 100px;
	line-height: 30px;
	color: #555555;	
	text-align: left;
	padding-bottom: 8%;
}

#end{
	background-color: rgb(214,208,200);
}

#group-selector select {
	margin: 0;
	width: 80%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 30px;
	line-height: 30px;
	color: #555555;
}

#student_group {
	margin-top: 10px;
}

#student_group select {
	margin: 0;
	width: 80%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 30px;
	line-height: 30px;
	color: #555555;
}

#ajax-progress-indicator {
	display: none;
}

#checkbox {
	background-color: #fafafa;
}

#t3 {
	background-color: #fafafa;
	height: 30px;
}

input,textarea,select {
	max-width: 300px;
}


#t123 {
	text-align: right;
}

#input-text {
	margin: 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	color: #555555;
}

/*td.day-box,
th.day-header {
	padding: 4px!important;
	vertical-align:middle!important;
	text-align:center;
}